{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12 col-md-10 col-lg-4 offset-lg-4 mt-5">
        <h4>Welcome to the blog!</h4>
        <a class="button is-danger my-4" href="#">New Post<i class="fas fa-plus-circle m-2"></i></a>
    </div>
</div>
{% if posts %}
{% for post in posts %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <a href="#" class="title-heading-small blog-title">
                {{ post.title | truncatechars:15 | capfirst }}
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4 class="title-heading-small">No posts yet</h4>
{% endif %}

{% endblock %}